*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --primary-color: white;
    --secundary-color: rgb(18, 123, 155);
    --default-shadow: 0 4px 6px #0004;
    --default-padding: 0 40px;
}
html{
    scroll-behavior: smooth;
}


html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: pink;
}
header{
    display: flex; 
    height: 7vw;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
    background-color: white;
    z-index: 999;
}
.logo{
    display: flex;
    flex-direction: column;
    height: 8vw;
    width: 12vw;
}

a{
    text-decoration: none;
    color: inherit;
}
.menu {
    display: flex;
    margin-left: -45vw;
    left: 38vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: center;
   font-size: 1.5vw;
}
ul,ol,li{
    list-style: none;
    gap: 1vw;
}
header li {
    display: flex;
    margin-right: -1vw;
    padding: 2vw 2vw;
    transition: 0.5s;
}
header li:hover{
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
    border-radius: 1vw;
}

.containerButton{
    display: flex;
    height: 3vw;
    width: 8em;
    background-color: rgba(128, 128, 128, 0.479);
}

section{
    height: 20vw;
    background-color: rgb(135, 220, 228);
}
.home{
    height: 17vw;
    background-image: url(./figma-avião/Airplane-PNG-Photo.png);
    background-position:  5vw -5vw;
    background-size: 45vw;
    background-repeat: no-repeat;
    display: grid;
}
.container-aviao{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
     margin-left: 56vw;
     margin-top: 3vh;
    background-color: rgba(255, 255, 255, 0.322);
    border: 0.2vw solid white;
    width: 55vh;
    height: 25vh;              
    border-radius: 3vh;          
  }

h2{
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
    margin-top: -8vw; 
    margin-right: 1vw;
    color: white;
    font-size: 1.2vw;
}
.textoContainer1{
    display: flex;
    margin-left: 56vw;
}
h3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -8vw;
    margin-left: 1vw;
    color: white;
    max-width: 40ch;
    font-size: 1.1vw; 
}
.container-aviao2{
    height: 40vh;
    background-image: url(./figma-avião/Airplane-Transparent-Background-PNG.png);
    background-position:  30vw -1vw;
    background-size: 110vh;
    background-repeat: no-repeat;
    display: grid;
    background-color: rgb(21, 21, 112);
}
h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10vw;
    margin-left: 10vw;
    color: white;
    font-size: 1.1vw;
    z-index: 2;
}
.caixaBranca{
     display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
     margin-left: 9vw;
     margin-top: -35vh;
    background-color: rgba(255, 255, 255, 0.548);
    border: 0.2vw solid white;
    width: 50vh;
    height: 30vh;              
    border-radius: 3vh; 
}

h5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 11vw;
    margin-top: -17vw;
    color: white;

    white-space: pre-wrap;
    font-size: 1.1vw;
    max-width: 35ch;

}
.sessao-principal {
    background-color: white;
    width: 100vw;
    height: 40vw;
    display: flex;
    flex-direction: column;     /* empilha os elementos */
    justify-content: start;    /* centraliza verticalmente */
    align-items: start;        /* centraliza horizontalmente */
    gap: 0vw;     

  }
  
  .sessao-principal h6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
     margin-top: 1vw; 
    margin-left: 4vw;
    font-size: 1.1vw;  
  }
  
  .icone-aviao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1.9vw;
    margin-left: 0.8vw;
    width: 2.5vw;
    height: auto;
  }

  .cont {

    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    gap: 5vw;                
    padding: 20vw 0;          
  }
  
  .linha1 {
    display: flex;
    justify-content: center;  /* centraliza horizontalmente os containers */
    align-items: center;      /* centraliza verticalmente */
    margin-top: -25vw;
    gap: 10vw;                /* espaço entre containers */
    flex-wrap: wrap;          /* quebra linha se a tela for pequena */
    width: 100%;
  }

  .linha2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4vw;
    gap: 10vw;
  }
  
  .container {
    display: flex;
    flex-direction: column;   /* empilha os textos e o botão */
    justify-content: center;  /* centraliza verticalmente */
    margin-top: 7vw;
    align-items: center;      /* centraliza horizontalmente */
    gap: 10vw;                /* espaçamento interno entre elementos */
    width: 25vw;
    height: 20vw;
    background-color: orange;
    border: 3px solid black;
    border-radius: 1vw;
    box-shadow: 0 1vw 1px #0003; /* sombra leve pra destacar */
    transition: transform 0.2s ease;
  }
  footer{
    display: flex;
    justify-content: center;
    margin-top: 30vw;
    background-color: rgb(0, 132, 255);
    width: 100%;
    height: 30vw;
  }
  

  



